---
import Layout from '@/layouts/Layout.astro'
import TriviaSection from '@/components/TriviaSection'
---

<Layout title='Trivia Game 🎯'>
  <main>
    <TriviaSection client:load />
  </main>
</Layout>
